@{
    ViewBag.Title = "Home Page";
    //Layout = "MyLayout.cshtml";
}

<div class="row">
    
</div>

@*
    You are using @Request.Browser.Browser, and that's OK! Email us at angsuman.roy@outlook.com for any queries. Or send us a tweet @@mvcatm.

    @{ var amounts = new List<Decimal> { 100, 20.3m, -40, -210.3m };}

    <ul>
        @foreach (decimal amount in amounts)
        {
            <li>@formatAmount(amount)</li>
            @: Plain Simple text
        }
    </ul>

    @helper formatAmount(decimal amount)
    {
        var color = "green";
        if (amount < 0)
        {
            color = "red";
        }
        <span style="color:@color">@String.Format("{0:c}", amount)</span>
    }
*@